body {
  margin: 0;
}

#cy {
  height: 100vh;
  width: 100vw;
  display: block;
}

#test-mode {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  z-index: 1;
}

#legend {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
}

.legend-title {
  font-size: 18px;
}

.legend-item {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.legend-item .shape {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.rectangle {
  background-color: green;
}

.circle {
  background-color: blue;
  border-radius: 50%;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid rgb(255, 200, 0);
}

.triangle-svg {
  width: 20px;
  height: 20px;
  fill: rgb(255, 200, 0);
}
